In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas

In [2]:
df = pd.read_csv("usdaplants.csv")
df.head()

C:\Users\leung\AppData\Local\Temp\ipykernel_18848\3989637891.py:1: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("usdaplants.csv")

,betydb.species.id,Genus,Species,ScientificName,CommonName,notes,created_at,updated_at,AcceptedSymbol,SynonymSymbol,...,LumberProduct,NavalStoreProduct,NurseryStockProduct,PalatableBrowseAnimal,PalatableGrazeAnimal,PalatableHuman,PostProduct,ProteinPotential,PulpwoodProduct,VeneerProduct
0,3,Abies,NaN,Abies,fir spp.,NaN,NaN,2011-03-01 21:02:25,ABIES,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Abies,alba,Abies alba,silver fir,NaN,NaN,2011-03-01 21:02:25,ABAL3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,Abies,amabilis,Abies amabilis,Pacific silver fir,NaN,NaN,2011-03-01 21:02:25,ABAM,NaN,...,Yes,No,No,NaN,NaN,No,No,NaN,Yes,Yes
3,6,Abies,balsamea,Abies balsamea,Balsam fir,NaN,NaN,2011-03-01 21:02:25,ABBA,NaN,...,Yes,Yes,Yes,Low,NaN,No,No,Low,Yes,Yes
4,7,Abies,concolor,Abies concolor,white fir,NaN,NaN,2011-03-01 21:02:25,ABCO,NaN,...,Yes,No,Yes,Low,NaN,No,No,Low,Yes,Yes

In [3]:
df.tail()

,betydb.species.id,Genus,Species,ScientificName,CommonName,notes,created_at,updated_at,AcceptedSymbol,SynonymSymbol,...,LumberProduct,NavalStoreProduct,NurseryStockProduct,PalatableBrowseAnimal,PalatableGrazeAnimal,PalatableHuman,PostProduct,ProteinPotential,PulpwoodProduct,VeneerProduct
48017,51119,Pulsatilla,sulphurea,Pulsatilla sulphurea,NaN,NaN,2011-05-19 20:15:51,2011-05-19 20:15:51,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48018,51120,salix,sachalinensis Ã— miyabeana,salix sachalinensis Ã— miyabeana,NaN,NaN,2011-05-26 20:19:59,2011-05-26 20:19:59,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48019,51123,Salix,Polaris,Salix Polaris,NaN,NaN,2011-08-29 14:10:43,2011-08-29 14:10:43,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48020,51124,salix,polaris,salix polaris,Polar Willow,NaN,2011-08-29 14:15:23,2011-08-29 14:15:23,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48021,51125,salix,polaris,salix polaris,NaN,NaN,2011-08-29 14:21:52,2011-08-29 14:21:52,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(48022, 122)

In [5]:
list(df.columns)

['betydb.species.id',
 'Genus',
 'Species',
 'ScientificName',
 'CommonName',
 'notes',
 'created_at',
 'updated_at',
 'AcceptedSymbol',
 'SynonymSymbol',
 'Symbol',
 'PLANTS_Floristic_Area',
 'State',
 'Category',
 'Family',
 'FamilySymbol',
 'FamilyCommonName',
 'xOrder',
 'SubClass',
 'Class',
 'SubDivision',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'ITIS_TSN',
 'Duration',
 'GrowthHabit',
 'NativeStatus',
 'FederalNoxiousStatus',
 'FederalNoxiousCommonName',
 'StateNoxiousStatus',
 'StateNoxiousCommonName',
 'Invasive',
 'Federal_TE_Status',
 'State_TE_Status',
 'State_TE_Common_Name',
 'NationalWetlandIndicatorStatus',
 'RegionalWetlandIndicatorStatus',
 'ActiveGrowthPeriod',
 'AfterHarvestRegrowthRate',
 'Bloat',
 'C2N_Ratio',
 'CoppicePotential',
 'FallConspicuous',
 'FireResistance',
 'FlowerColor',
 'FlowerConspicuous',
 'FoliageColor',
 'FoliagePorositySummer',
 'FoliagePorosityWinter',
 'FoliageTexture',
 'FruitColor',
 'FruitConspicuous',
 'GrowthForm',
 'GrowthRate',
 'MaxHeight20Yrs',
 'MatureHeight',
 'KnownAllelopath',
 'LeafRetention',
 'Lifespan',
 'LowGrowingGrass',
 'NitrogenFixation',
 'ResproutAbility',
 'Shape_and_Orientation',
 'Toxicity',
 'AdaptedCoarseSoils',
 'AdaptedMediumSoils',
 'AdaptedFineSoils',
 'AnaerobicTolerance',
 'CaCO3Tolerance',
 'ColdStratification',
 'DroughtTolerance',
 'FertilityRequirement',
 'FireTolerance',
 'MinFrostFreeDays',
 'HedgeTolerance',
 'MoistureUse',
 'pH_Minimum',
 'pH_Maximum',
 'Min_PlantingDensity',
 'Max_PlantingDensity',
 'Precipitation_Minimum',
 'Precipitation_Maximum',
 'RootDepthMinimum',
 'SalinityTolerance',
 'ShadeTolerance',
 'TemperatureMinimum',
 'BloomPeriod',
 'CommercialAvailability',
 'FruitSeedAbundance',
 'FruitSeedPeriodBegin',
 'FruitSeedPeriodEnd',
 'FruitSeedPersistence',
 'Propogated_by_BareRoot',
 'Propogated_by_Bulbs',
 'Propogated_by_Container',
 'Propogated_by_Corms',
 'Propogated_by_Cuttings',
 'Propogated_by_Seed',
 'Propogated_by_Sod',
 'Propogated_by_Sprigs',
 'Propogated_by_Tubers',
 'Seeds_per_Pound',
 'SeedSpreadRate',
 'SeedlingVigor',
 'SmallGrain',
 'VegetativeSpreadRate',
 'Berry_Nut_Seed_Product',
 'ChristmasTreeProduct',
 'FodderProduct',
 'FuelwoodProduct',
 'LumberProduct',
 'NavalStoreProduct',
 'NurseryStockProduct',
 'PalatableBrowseAnimal',
 'PalatableGrazeAnimal',
 'PalatableHuman',
 'PostProduct',
 'ProteinPotential',
 'PulpwoodProduct',
 'VeneerProduct']

In [6]:
df.describe()

,betydb.species.id,SynonymSymbol,ITIS_TSN,MaxHeight20Yrs,MatureHeight,MinFrostFreeDays,pH_Minimum,pH_Maximum,Min_PlantingDensity,Max_PlantingDensity,Precipitation_Minimum,Precipitation_Maximum,RootDepthMinimum,TemperatureMinimum,Seeds_per_Pound
count,48022.000000,0.0,47992.000000,47992.000000,47992.000000,47992.000000,47992.000000,47992.000000,47992.000000,47992.000000,47992.000000,47992.000000,47992.000000,47992.000000,4.799200e+04
mean,25826.094665,NaN,182766.348058,0.438886,0.771816,6.569532,0.214432,0.300217,76.642295,190.880605,0.928801,2.238456,0.672341,-0.616707,2.675140e+04
std,13959.886030,NaN,224784.824414,4.550346,7.719802,34.818805,1.041794,1.444726,841.226636,1912.227991,5.077491,12.506882,3.788364,6.360363,5.524103e+05
min,3.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-79.000000,0.000000e+00
25%,13882.250000,NaN,18776.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,25887.500000,NaN,35285.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,37892.750000,NaN,502839.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
max,51125.000000,NaN,566357.000000,230.000000,250.000000,365.000000,7.000000,10.000000,43560.000000,125000.000000,100.000000,450.000000,60.000000,67.000000,5.000000e+07

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48022 entries, 0 to 48021
Columns: 122 entries, betydb.species.id to VeneerProduct
dtypes: float64(14), int64(1), object(107)
memory usage: 44.7+ MB

In [8]:
df.dtypes

betydb.species.id     int64
Genus                object
Species              object
ScientificName       object
CommonName           object
                      ...
PalatableHuman       object
PostProduct          object
ProteinPotential     object
PulpwoodProduct      object
VeneerProduct        object
Length: 122, dtype: object

In [9]:
df['Family'].unique()

array(['Pinaceae', 'Fabaceae', 'Aceraceae', 'Pteridaceae', 'Asteraceae',
       'Adoxaceae', 'Poaceae', 'Apiaceae', 'Hippocastanaceae',
       'Teloschistaceae', 'Liliaceae', 'Lamiaceae', 'Agavaceae',
       'Simaroubaceae', 'Rosaceae', 'Euphorbiaceae', 'Brassicaceae',
       'Casuarinaceae', 'Betulaceae', 'Araceae', 'Amaranthaceae',
       'Anacardiaceae', 'Primulaceae', 'Ericaceae', 'Ranunculaceae',
       'Apocynaceae', 'Araliaceae', 'Myrsinaceae', 'Aristolochiaceae',
       'Orchidaceae', 'Asclepiadaceae', 'Annonaceae', 'Dryopteridaceae',
       'Chenopodiaceae', 'Verbenaceae', 'Scrophulariaceae',
       'Zygophyllaceae', 'Proteaceae', 'Berberidaceae', 'Blechnaceae',
       'Boraginaceae', 'Rhizophoraceae', 'Combretaceae', 'Burseraceae',
       'Buxaceae', 'Malpighiaceae', 'Rutaceae', 'Flacourtiaceae',
       'Calycanthaceae', 'Melastomataceae', 'Campanulaceae', 'Solanaceae',
       'Cyperaceae', 'Juglandaceae', 'Celastraceae', 'Fagaceae',
       'Bignoniaceae', 'Rhamnaceae', 'Cecropiaceae', 'Meliaceae',
       'Ulmaceae', 'Caryophyllaceae', 'Cupressaceae', 'Cornaceae',
       'Onagraceae', 'Pyrolaceae', 'Dicksoniaceae', 'Lauraceae',
       'Cistaceae', 'Clusiaceae', 'Polygonaceae', 'Rubiaceae',
       'Convolvulaceae', 'Cucurbitaceae', 'Cyrillaceae', 'Podocarpaceae',
       'Thymelaeaceae', 'Dennstaedtiaceae', 'Gleicheniaceae',
       'Caprifoliaceae', 'Ebenaceae', 'Sapindaceae', 'Thelypteridaceae',
       'Elaeagnaceae', 'Empetraceae', 'Equisetaceae', 'Eriocaulaceae',
       'Myrtaceae', 'Moraceae', 'Oleaceae', 'Diapensiaceae',
       'Geraniaceae', 'Commelinaceae', 'Ginkgoaceae', 'Theaceae',
       'Malvaceae', 'Nyctaginaceae', 'Styracaceae', 'Hamamelidaceae',
       'Chloranthaceae', 'Hernandiaceae', 'Aquifoliaceae',
       'Balsaminaceae', 'Iridaceae', 'Juncaceae', 'Urticaceae',
       'Lythraceae', 'Magnoliaceae', 'Lycopodiaceae', 'Sapotaceae',
       'Loganiaceae', 'Monotropaceae', 'Musaceae', 'Myricaceae',
       'Osmundaceae', 'Ochnaceae', 'Oxalidaceae', 'Paeoniaceae',
       'Vitaceae', 'Piperaceae', 'Plantaginaceae', 'Platanaceae',
       'Polygalaceae', 'Pontederiaceae', 'Salicaceae', 'Arecaceae',
       'Santalaceae', 'Grossulariaceae', 'Alismataceae', 'Papaveraceae',
       'Sarraceniaceae', 'Dipsacaceae', 'Dipterocarpaceae',
       'Simmondsiaceae', 'Elaeocarpaceae', 'Smilacaceae', 'Symplocaceae',
       'Taxaceae', 'Tiliaceae', 'Staphyleaceae', 'Typhaceae', 'Violaceae',
       'Capparaceae', 'Erythroxylaceae', 'Saxifragaceae', nan,
       'Sphagnaceae', 'Hylocomiaceae', 'Brachytheciaceae', 'Lichinaceae',
       'Loasaceae', 'Graphidaceae', 'Crassulaceae', 'Psoraceae',
       'Opegraphaceae', 'Verrucariaceae', 'Trapaceae', 'Bacidiaceae',
       'Trapeliaceae', 'Uncertain Lichen Family', 'Thuidiaceae',
       'Hydrocharitaceae', 'Gentianaceae', 'Bruchiaceae', 'Lecanoraceae',
       'Acanthaceae', 'Tremellaceae', 'Trichotheliaceae', 'Hymeneliaceae',
       'Selaginellaceae', 'Grammitidaceae', 'Entodontaceae',
       'Stictidaceae', 'Aizoaceae', 'Menyanthaceae', 'Stereophyllaceae',
       'Funariaceae', 'Greyiaceae', 'Hydrophyllaceae', 'Grimmiaceae',
       'Gomphillaceae', 'Pterigynandraceae', 'Icacinaceae', 'Cyatheaceae',
       'Calypogeiaceae', 'Pleomassariaceae', 'Cactaceae',
       'Trichocoleaceae', 'Ephedraceae', 'Ditrichaceae',
       'Hymenophyllaceae', 'Leucodontaceae', 'Ephemeraceae',
       'Seligeriaceae', 'Mesoptychiaceae', 'Pottiaceae', 'Neckeraceae',
       'Sematophyllaceae', 'Ptilidiaceae', 'Ramalinaceae',
       'Amblystegiaceae', 'Hypnaceae', 'Metzgeriaceae', 'Agyriaceae',
       'Orobanchaceae', 'Ptychomitriaceae', 'Sterculiaceae',
       'Rhizocarpaceae', 'Orthotrichaceae', 'Micareaceae',
       'Phytolaccaceae', 'Gunneraceae', 'Lecideaceae', 'Parmeliaceae',
       'Microcaliciaceae', 'Bryaceae', 'Gesneriaceae', 'Bromeliaceae',
       'Punicaceae', 'Polypodiaceae', 'Gyalectaceae', 'Crocyniaceae',
       'Stemonaceae', 'Asterothyriaceae', 'Solorinellaceae',
       'Crossosomataceae', 'Cladoniaceae', 'Jungermanniaceae',
       'Dacampiaceae', 'Pyrenulaceae', 'Polemoniaceae', 'Gymnomitriaceae',
       'Burmanniaceae', 'Pyrenotrichaceae', 'Pertusariaceae',
       'Acarosporaceae', 'Gypsoplaceae', 'Gyrothyraceae', 'Pedaliaceae',
       'Collemataceae', 'Myoporaceae', 'Lecythidaceae', 'Rhizogoniaceae',
       'Pannariaceae', 'Leitneriaceae', 'Lejeuneaceae',
       'Haematommataceae', 'Cryphaeaceae', 'Fossombroniaceae',
       'Physciaceae', 'Schaereriaceae', 'Catillariaceae', 'Lemnaceae',
       'Juncaginaceae', 'Bombacaceae', 'Cymodoceaceae', 'Monimiaceae',
       'Haloragaceae', 'Caricaceae', 'Hanguanaceae', 'Anomodontaceae',
       'Haplomitriaceae', 'Cyclanthaceae', 'Hydrangeaceae',
       'Geocalycaceae', 'Caryocaraceae', 'Aytoniaceae', 'Calyceraceae',
       'Aneuraceae', 'Arthoniaceae', 'Vittariaceae', 'Callicostaceae',
       'Lepidoziaceae', 'Mniaceae', 'Roccellaceae', 'Acoraceae',
       'Pallaviciniaceae', 'Hedwigiaceae', 'Zingiberaceae',
       'Acrobolbaceae', 'Molluginaceae', 'Monoblastiaceae',
       'Placynthiaceae', 'Caliciaceae', 'Trypetheliaceae', 'Cleveaceae',
       'Actinidiaceae', 'Leptodontaceae', 'Schizaeaceae', 'Atheliaceae',
       'Tropaeolaceae', 'Mycocaliciaceae', 'Polytrichaceae',
       'Anthocerotaceae', 'Cuscutaceae', 'Olacaceae', 'Racopilaceae',
       'Linaceae', 'Radulaceae', 'Leskeaceae', 'Arthopyreniaceae',
       'Dioscoreaceae', 'Turneraceae', 'Fumariaceae', 'Basellaceae',
       'Portulacaceae', 'Achatocarpaceae', 'Umbilicariaceae',
       'Moringaceae', 'Aulacomniaceae', 'Heliconiaceae', 'Catoscopiaceae',
       'Coniocybaceae', 'Bartramiaceae', 'Cycadaceae',
       'Odontotremataceae', 'Philydraceae', 'Caulerpaceae',
       'Cephaloziellaceae', 'Azollaceae', 'Araucariaceae',
       'Ophioglossaceae', 'Clavariaceae', 'Helodiaceae', 'Strelitziaceae',
       'Porpidiaceae', 'Pterobryaceae', 'Mycoblastaceae',
       'Lentibulariaceae', 'Letrouitiaceae', 'Heppiaceae', 'Fuscideaceae',
       'Marsileaceae', 'Herbertaceae', 'Leucobryaceae', 'Mycoporaceae',
       'Resedaceae', 'Epacridaceae', 'Baeomycetaceae', 'Dicranaceae',
       'Rhachitheciaceae', 'Balanophoraceae', 'Valerianaceae',
       'Phlyctidaceae', 'Myriniaceae', 'Lennoaceae', 'Viscaceae',
       'Thelotremataceae', 'Myristicaceae', 'Marantaceae',
       'Lardizabalaceae', 'Erpodiaceae', 'Myxotrichaceae', 'Najadaceae',
       'Meteoriaceae', 'Cephalotaxaceae', 'Cephaloziaceae',
       'Alectoriaceae', 'Chrysobalanaceae', 'Phyllachoraceae',
       'Zosteraceae', 'Lichenotheliaceae', 'Pittosporaceae',
       'Peltigeraceae', 'Sonneratiaceae', 'Bataceae', 'Begoniaceae',
       'Ceratophyllaceae', 'Parkeriaceae', 'Plumbaginaceae',
       'Cercidiphyllaceae', 'Sparganiaceae', 'Limnanthaceae',
       'Hypocreaceae', 'Nelumbonaceae', 'Limnocharitaceae', 'Elatinaceae',
       'Platygloeaceae', 'Rhytidiaceae', 'Nepenthaceae',
       'Mycosphaerellaceae', 'Sphaerocarpaceae', 'Vezdaeaceae',
       'Sphaerophoraceae', 'Nephromataceae', 'Biatorellaceae',
       'Dactylosporaceae', 'Hippocrateaceae', 'Aloaceae', 'Hippuridaceae',
       'Stereocaulaceae', 'Rafflesiaceae', 'Ricciaceae', 'Sphenocleaceae',
       'Eremolepidaceae', 'Bixaceae', 'Blasiaceae', 'Sphinctrinaceae',
       'Coccocarpiaceae', 'Daltoniaceae', 'Nymphaeaceae', 'Hookeriaceae',
       'Marattiaceae', 'Rimulariaceae', 'Pseudolepicoleaceae',
       'Riellaceae', 'Datiscaceae', 'Leotiaceae', 'Lobariaceae',
       'Meesiaceae', 'Davalliaceae', 'Notothyladaceae', 'Dilleniaceae',
       'Splachnobryaceae', 'Splachnaceae', 'Saururaceae', 'Cannabaceae',
       'Ectolechiaceae', 'Stackhousiaceae', 'Fontinalaceae',
       'Loranthaceae', 'Oedipodiaceae', 'Cunoniaceae', 'Fabroniaceae',
       'Chionosphaeraceae', 'Haemodoraceae', 'Cabombaceae',
       'Andreaeaceae', 'Plagiochilaceae', 'Andreaeobryaceae',
       'Menispermaceae', 'Chonecoleaceae', 'Connaraceae',
       'Plagiotheciaceae', 'Tricholomataceae', 'Anemiaceae',
       'Thelenellaceae', 'Lophosoriaceae', 'Brigantiaceae',
       'Gigaspermaceae', 'Chrysotrichaceae', 'Ophioparmaceae',
       'Canellaceae', 'Hypopterygiaceae', 'Brunelliaceae', 'Xyridaceae',
       'Encalyptaceae', 'Antheliaceae', 'Pleuroziaceae',
       'Pleuroziopsidaceae', 'Strigulaceae', 'Lunulariaceae',
       'Bryoxiphiaceae', 'Corticiaceae', 'Pilocarpaceae',
       'Potamogetonaceae', 'Zamiaceae', 'Zannichelliaceae', 'Illiciaceae',
       'Aspleniaceae', 'Marchantiaceae', 'Buddlejaceae', 'Ruppiaceae',
       'Aponogetonaceae', 'Surianaceae', 'Treubiaceae', 'Podostemaceae',
       'Adelococcaceae', 'Droseraceae', 'Fissidentaceae', 'Butomaceae',
       'Buxbaumiaceae', 'Oxymitraceae', 'Flagellariaceae', 'Scapaniaceae',
       'Disceliaceae', 'Archidiaceae', 'Calymperaceae', 'Fouquieriaceae',
       'Syzygosporaceae', 'Arctomiaceae', 'Isoetaceae', 'Taccaceae',
       'Frankeniaceae', 'Tamaricaceae', 'Lygodiaceae', 'Targioniaceae',
       'Pandanaceae', 'Callitrichaceae', 'Jubulaceae', 'Clethraceae',
       'Salviniaceae', 'Climaciaceae', 'Theophrastaceae',
       'Coccotremataceae', 'Porellaceae', 'Joinvilleaceae',
       'Thamnobryaceae', 'Winteraceae', 'Tetraphidaceae', 'Posidoniaceae',
       'Allisoniaceae', 'Arnelliaceae', 'Theliaceae', 'Garryaceae',
       'Goodeniaceae', 'Passifloraceae', 'Conocephalaceae',
       'Marcgraviaceae', 'Scheuchzeriaceae', 'Pleosporaceae',
       'Schisandraceae', 'Mastigophoraceae', 'Mastodiaceae',
       'Schistostegaceae', 'Thrombiaceae', 'Krameriaceae', 'Capnodiaceae',
       'Arthrorhaphidaceae', 'Protothelenellaceae', 'Mayacaceae',
       'Candelariaceae', 'Eigleraceae', 'Cannaceae', 'Pelliaceae',
       'Triuridaceae', 'Timmiaceae', 'Dendrocerotaceae',
       'Megalosporaceae', 'Monosoleniaceae', 'Corsiniaceae',
       'Peltulaceae', 'Pseudoditrichaceae', 'Corynocarpaceae',
       'Melanommataceae', 'Melaspileaceae', 'Costaceae', 'Melianthaceae',
       'Scouleriaceae', 'Gnetaceae', 'Psilotaceae', 'Sabiaceae',
       'Trichocomaceae'], dtype=object)

In [10]:
tree_families = ['Adoxaceae','Altingiaceae','Anacardiaceae','Apocynaceae','Aquifoliaceae','Araliaceae','Betulaceae','Bignoniaceae ',
                'Cactaceae','Cannabaceae','Cornaceae',' Dipterocarpaceae','Ebenaceae','Ericaceae','Eucommiaceae','Fabaceae','Fagaceae',
                'Fouquieriaceae','Hamamelidaceae','Juglandaceae','Lecythidaceae','Lythraceae','Malvaceae','Meliaceae','Moraceae','Myrtaceae','Nothofagaceaed',
                'Nyssaceae','Oleaceae','Paulowniaceae','Platanaceae','Rhizophoraceae','Rosaceae','Rubiaceae','Rutaceae','Salicaceae','Sapindaceae ',
                'Sapotaceae','Simaroubaceae','Theaceae','Thymelaeaceae','Ulmaceae',
                'Asparagaceae','Arecaceae','Poaceae',
                'Annonaceae','Lauraceae','Magnoliaceae','Myristicaceae',
                'Araucariaceae','Cupressaceae','Pinaceae','Podocarpaceae','Sciadopityaceae','Taxaceae ',
                'Ginkgoaceae',
                'Cycadaceae','Zamiaceae',
                'Cyatheaceae','Dicksoniaceae',
                'Wattieza'
                ]

In [11]:
usda_trees = df[df['Family'].isin(tree_families)]
usda_trees

,betydb.species.id,Genus,Species,ScientificName,CommonName,notes,created_at,updated_at,AcceptedSymbol,SynonymSymbol,...,LumberProduct,NavalStoreProduct,NurseryStockProduct,PalatableBrowseAnimal,PalatableGrazeAnimal,PalatableHuman,PostProduct,ProteinPotential,PulpwoodProduct,VeneerProduct
0,3,Abies,NaN,Abies,fir spp.,NaN,NaN,2011-03-01 21:02:25,ABIES,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Abies,alba,Abies alba,silver fir,NaN,NaN,2011-03-01 21:02:25,ABAL3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,Abies,amabilis,Abies amabilis,Pacific silver fir,NaN,NaN,2011-03-01 21:02:25,ABAM,NaN,...,Yes,No,No,NaN,NaN,No,No,NaN,Yes,Yes
3,6,Abies,balsamea,Abies balsamea,Balsam fir,NaN,NaN,2011-03-01 21:02:25,ABBA,NaN,...,Yes,Yes,Yes,Low,NaN,No,No,Low,Yes,Yes
4,7,Abies,concolor,Abies concolor,white fir,NaN,NaN,2011-03-01 21:02:25,ABCO,NaN,...,Yes,No,Yes,Low,NaN,No,No,Low,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48004,49887,Pithecellobium,ligustrinum,Pithecellobium ligustrinum,NaN,NaN,2011-03-05 18:47:16,2011-03-05 18:47:16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48006,49889,Gaultheria,antipoda,Gaultheria antipoda,NaN,NaN,2011-03-05 20:19:04,2011-03-05 20:19:04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48007,49890,Gaultheria,depressa,Gaultheria depressa,NaN,NaN,2011-03-05 20:21:38,2011-03-05 20:21:38,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48008,49892,Pernettya,alpina,Pernettya alpina,NaN,NaN,2011-03-05 20:26:51,2011-03-05 20:26:51,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48009,49893,Retama,sphaerocarpa,Retama sphaerocarpa,NaN,NaN,2011-03-05 20:28:46,2011-03-05 20:28:46,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
usda_trees.info

<bound method DataFrame.info of        betydb.species.id           Genus       Species  \
0                      3           Abies           NaN
1                      4           Abies          alba
2                      5           Abies      amabilis
3                      6           Abies      balsamea
4                      7           Abies      concolor
...                  ...             ...           ...
48004              49887  Pithecellobium   ligustrinum
48006              49889      Gaultheria      antipoda
48007              49890      Gaultheria      depressa
48008              49892       Pernettya        alpina
48009              49893          Retama  sphaerocarpa

                   ScientificName          CommonName notes  \
0                           Abies            fir spp.   NaN
1                      Abies alba          silver fir   NaN
2                  Abies amabilis  Pacific silver fir   NaN
3                  Abies balsamea          Balsam fir   NaN
4                  Abies concolor           white fir   NaN
...                           ...                 ...   ...
48004  Pithecellobium ligustrinum                 NaN   NaN
48006         Gaultheria antipoda                 NaN   NaN
48007         Gaultheria depressa                 NaN   NaN
48008            Pernettya alpina                 NaN   NaN
48009         Retama sphaerocarpa                 NaN   NaN

                created_at           updated_at AcceptedSymbol  SynonymSymbol  \
0                      NaN  2011-03-01 21:02:25          ABIES            NaN
1                      NaN  2011-03-01 21:02:25          ABAL3            NaN
2                      NaN  2011-03-01 21:02:25           ABAM            NaN
3                      NaN  2011-03-01 21:02:25           ABBA            NaN
4                      NaN  2011-03-01 21:02:25           ABCO            NaN
...                    ...                  ...            ...            ...
48004  2011-03-05 18:47:16  2011-03-05 18:47:16            NaN            NaN
48006  2011-03-05 20:19:04  2011-03-05 20:19:04            NaN            NaN
48007  2011-03-05 20:21:38  2011-03-05 20:21:38            NaN            NaN
48008  2011-03-05 20:26:51  2011-03-05 20:26:51            NaN            NaN
48009  2011-03-05 20:28:46  2011-03-05 20:28:46            NaN            NaN

       ... LumberProduct NavalStoreProduct NurseryStockProduct  \
0      ...           NaN               NaN                 NaN
1      ...           NaN               NaN                 NaN
2      ...           Yes                No                  No
3      ...           Yes               Yes                 Yes
4      ...           Yes                No                 Yes
...    ...           ...               ...                 ...
48004  ...           NaN               NaN                 NaN
48006  ...           NaN               NaN                 NaN
48007  ...           NaN               NaN                 NaN
48008  ...           NaN               NaN                 NaN
48009  ...           NaN               NaN                 NaN

      PalatableBrowseAnimal PalatableGrazeAnimal PalatableHuman PostProduct  \
0                       NaN                  NaN            NaN         NaN
1                       NaN                  NaN            NaN         NaN
2                       NaN                  NaN             No          No
3                       Low                  NaN             No          No
4                       Low                  NaN             No          No
...                     ...                  ...            ...         ...
48004                   NaN                  NaN            NaN         NaN
48006                   NaN                  NaN            NaN         NaN
48007                   NaN                  NaN            NaN         NaN
48008                   NaN                  NaN            NaN         NaN
48009                   NaN                  NaN            NaN         NaN

      ProteinPotential PulpwoodProduct VeneerProduct
0                  NaN             NaN           NaN
1                  NaN             NaN           NaN
2                  NaN             Yes           Yes
3                  Low             Yes           Yes
4                  Low             Yes           Yes
...                ...             ...           ...
48004              NaN             NaN           NaN
48006              NaN             NaN           NaN
48007              NaN             NaN           NaN
48008              NaN             NaN           NaN
48009              NaN             NaN           NaN

[13337 rows x 122 columns]>

In [13]:
usda_trees = usda_trees[usda_trees['MatureHeight'] >= 4.0]
usda_trees['MatureHeight'].tolist()

[200.0,
 60.0,
 180.0,
 70.0,
 100.0,
 110.0,
 50.0,
 25.0,
 10.0,
 60.0,
 75.0,
 90.0,
 16.0,
 15.0,
 50.0,
 10.0,
 4.0,
 6.0,
 6.0,
 6.0,
 35.0,
 50.0,
 100.0,
 80.0,
 80.0,
 70.0,
 60.0,
 40.0,
 40.0,
 100.0,
 100.0,
 100.0,
 90.0,
 140.0,
 100.0,
 95.0,
 90.0,
 115.0,
 70.0,
 110.0,
 80.0,
 30.0,
 70.0,
 16.0,
 90.0,
 4.0,
 8.0,
 40.0,
 15.0,
 25.0,
 40.0,
 15.0,
 10.0,
 16.0,
 10.0,
 15.0,
 30.0,
 20.0,
 50.0,
 160.0,
 20.0,
 95.0,
 90.0,
 39.0,
 70.0,
 80.0,
 70.0,
 120.0,
 40.0,
 75.0,
 65.0,
 65.0,
 10.0,
 80.0,
 20.0,
 60.0,
 10.0,
 20.0,
 47.0,
 80.0,
 100.0,
 40.0,
 50.0,
 65.0,
 4.0,
 6.0,
 98.0,
 80.0,
 40.0,
 200.0,
 5.0,
 100.0,
 120.0,
 4.0,
 7.0,
 35.0,
 100.0,
 75.0,
 100.0,
 30.0,
 60.0,
 15.0,
 25.0,
 50.0,
 50.0,
 70.0,
 12.0,
 100.0,
 115.0,
 50.0,
 95.0,
 70.0,
 45.0,
 35.0,
 5.0,
 4.0,
 70.0,
 5.0,
 13.0,
 130.0,
 120.0,
 100.0,
 65.0,
 100.0,
 110.0,
 200.0,
 65.0,
 80.0,
 80.0,
 100.0,
 50.0,
 100.0,
 66.0,
 90.0,
 180.0,
 50.0,
 200.0,
 120.0,
 120.0,
 223.0,
 50.0,
 120.0,
 80.0,
 80.0,
 80.0,
 150.0,
 110.0,
 100.0,
 70.0,
 50.0,
 100.0,
 100.0,
 80.0,
 85.0,
 190.0,
 65.0,
 100.0,
 65.0,
 50.0,
 25.0,
 24.0,
 9.0,
 30.0,
 80.0,
 25.0,
 200.0,
 25.0,
 50.0,
 100.0,
 100.0,
 90.0,
 100.0,
 45.0,
 85.0,
 40.0,
 70.0,
 80.0,
 100.0,
 25.0,
 100.0,
 80.0,
 90.0,
 110.0,
 100.0,
 100.0,
 80.0,
 100.0,
 110.0,
 80.0,
 90.0,
 50.0,
 25.0,
 12.0,
 80.0,
 8.0,
 4.0,
 90.0,
 70.0,
 60.0,
 6.0,
 33.0,
 100.0,
 70.0,
 75.0,
 40.0,
 40.0,
 40.0,
 60.0,
 60.0,
 20.0,
 100.0,
 130.0,
 50.0,
 150.0,
 105.0,
 65.0,
 170.0,
 65.0,
 120.0,
 90.0,
 60.0,
 70.0,
 85.0,
 70.0,
 95.0,
 80.0,
 28.0,
 12.0,
 5.0,
 8.0,
 9.0,
 10.0,
 100.0,
 40.0,
 52.0,
 90.0,
 10.0,
 99.0,
 45.0,
 190.0,
 4.0,
 6.0,
 5.0,
 4.0,
 12.0,
 12.0,
 90.0,
 12.0,
 12.0,
 25.0,
 16.0,
 200.0,
 160.0,
 230.0,
 180.0,
 20.0,
 25.0,
 25.0,
 25.0,
 25.0,
 6.0,
 12.0,
 100.0,
 36.0,
 65.0,
 45.0,
 40.0,
 20.0,
 40.0,
 5.0,
 5.0,
 25.0,
 6.0,
 7.0,
 8.0,
 23.0,
 5.0,
 250.0,
 200.0,
 7.0,
 35.0,
 4.0,
 4.0,
 20.0,
 5.0,
 5.0,
 4.0,
 50.0,
 4.0,
 70.0,
 90.0,
 60.0,
 9.0,
 40.0,
 80.0,
 100.0,
 35.0,
 5.0,
 4.0,
 10.0,
 5.0,
 100.0,
 80.0,
 125.0,
 10.0,
 4.0,
 20.0,
 6.0,
 6.0,
 5.0,
 4.0,
 5.0,
 16.0,
 23.0,
 20.0,
 25.0,
 70.0,
 10.0,
 5.0,
 7.0,
 8.0,
 8.0,
 6.0,
 12.0,
 6.0,
 16.0,
 6.0,
 4.0,
 5.0,
 9.0,
 4.0,
 4.0,
 4.0,
 12.0,
 5.0,
 20.0,
 6.0,
 18.0,
 15.0,
 18.0,
 14.0,
 15.0,
 10.0,
 10.0,
 16.0,
 12.0,
 15.0,
 10.0,
 16.0,
 8.0,
 12.0,
 10.0,
 12.0,
 4.0,
 40.0,
 12.0,
 15.0,
 66.0,
 4.0,
 25.0,
 12.0,
 4.0,
 7.0,
 20.0,
 8.0,
 19.0,
 8.0,
 7.0,
 8.0,
 7.0,
 5.0,
 8.0,
 50.0,
 12.0,
 7.0,
 8.0,
 15.0,
 20.0,
 10.0,
 30.0,
 7.0,
 25.0,
 30.0,
 30.0,
 30.0,
 30.0,
 100.0,
 6.0,
 10.0,
 12.0,
 239.0,
 12.0,
 4.0,
 40.0,
 125.0,
 120.0,
 98.0,
 25.0,
 99.0,
 50.0,
 80.0,
 7.0,
 229.0,
 4.0,
 10.0,
 90.0,
 80.0,
 160.0,
 8.0,
 80.0,
 50.0,
 5.0,
 20.0,
 5.0,
 50.0,
 75.0,
 20.0,
 40.0,
 10.0,
 25.0,
 15.0,
 15.0,
 4.0,
 6.0,
 18.0,
 16.0,
 4.0,
 160.0,
 160.0,
 50.0,
 60.0,
 4.0,
 10.0,
 5.0,
 5.0,
 10.0,
 16.0,
 35.0,
 10.0,
 8.0,
 98.0,
 5.0,
 16.0,
 6.0,
 75.0,
 6.0,
 4.0,
 6.0,
 5.0,
 5.0,
 35.0,
 4.0,
 4.0,
 50.0,
 9.0,
 50.0,
 7.0,
 15.0,
 6.0,
 12.0,
 4.0,
 4.0,
 100.0,
 75.0,
 80.0,
 6.0,
 5.0,
 4.0,
 5.0,
 40.0,
 4.0,
 4.0,
 30.0,
 20.0,
 20.0,
 20.0,
 5.0,
 5.0,
 4.0,
 5.0,
 12.0,
 10.0,
 16.0,
 6.0,
 26.0,
 12.0,
 8.0,
 10.0,
 33.0,
 8.0,
 4.0,
 4.0,
 6.0,
 25.0,
 6.0,
 11.0,
 4.0,
 8.0,
 20.0,
 89.0,
 6.0,
 5.0,
 4.0,
 4.0,
 5.0,
 10.0,
 50.0,
 9.0,
 10.0,
 40.0,
 9.0,
 20.0,
 7.0,
 10.0,
 12.0,
 7.0,
 15.0,
 25.0,
 6.0,
 12.0,
 10.0,
 15.0,
 6.0,
 30.0,
 24.0,
 35.0,
 10.0,
 10.0,
 12.0,
 10.0,
 20.0,
 15.0,
 4.0,
 5.0,
 5.0,
 40.0,
 5.0,
 10.0,
 30.0,
 30.0,
 6.0,
 50.0,
 45.0,
 33.0,
 80.0,
 14.0,
 13.0,
 53.0,
 16.0,
 12.0,
 6.0,
 10.0,
 5.0,
 60.0,
 60.0,
 4.0,
 8.0,
 10.0,
 45.0,
 15.0,
 50.0,
 12.0,
 20.0,
 23.0,
 40.0,
 6.0,
 30.0,
 40.0,
 18.0,
 8.0,
 20.0,
 40.0,
 9.0,
 6.0,
 12.0,
 5.0,
 150.0,
 6.0,
 4.0,
 60.0,
 4.0,
 60.0,
 50.0,
 20.0,
 60.0,
 56.0,
 70.0,
 30.0,
 26.0,
 6.0,
 6.0,
 4.0,
 25.0,
 10.0,
 40.0,
 4.0,
 60.0,
 10.0,
 33.0,
 26.0,
 50.0,
 65.0,
 6.0,
 25.0,
 100.0,
 50.0,
 4.0,
 6.0,
 60.0,
 56.0,
 16.0,
 4.0,
 30.0,
 30.0,
 30.0,
 7.0,
 5.0,
 4.0,
 4.0,
 60.0,
 4.0,
 12.0,
 4.0,
 80.0,
 25.0,
 25.0,
 6.0,
 40.0,
 12.0,
 30.0,
 10.0,
 48.0,
 6.0,
 16.0,
 26.0,
 75.0,
 40.0,
 25.0,
 12.0,
 12.0,
 25.0,
 8.0,
 20.0,
 4.0,
 6.0,
 12.0,
 13.0,
 5.0,
 5.0,
 4.0,
 5.0,
 4.0,
 4.0,
 6.0,
 75.0,
 4.0,
 110.0,
 5.0,
 5.0,
 6.0,
 26.0,
 12.0,
 4.0]

In [14]:
usda_trees['State'].head(10)

2     <strong>USA</strong> (AK, OR, WA), <strong>CAN...
3     <strong>USA</strong> (CT, IA, IN, MA, MD, ME, ...
4     <strong>USA</strong> (AZ, CO, ID, MA, ME, NM, ...
5                 <strong>USA</strong> (GA, NC, TN, VA)
6     <strong>USA</strong> (AK, AZ, CO, ID, MT, NM, ...
8                             <strong>USA</strong> (HI)
46    <strong>USA</strong> (AL, AR, AZ, CO, CT, DC, ...
50    <strong>USA</strong> (AL, AR, AZ, DC, DE, FL, ...
59    <strong>USA</strong> (AK, MA, ME, MI, MN, NC, ...
60    <strong>USA</strong> (CT, DC, DE, IA, IL, IN, ...
Name: State, dtype: object

In [15]:
df1 = usda_trees.copy()


df1['State'] = df1['State'].str.split('> ').str[1]
df1['State'] = df1['State'].str.split(' <strong').str[0]


import ast
df1 = df1.dropna( subset=['State'], axis=0)
df1['State'] = df1['State'].apply( lambda x: x.replace("(","").replace(")","").split(", ") )


df2 = df1[['CommonName',"State"]].copy()

a = []
for i,r in df2.iterrows():

    treename = r['CommonName']

    state_list = r['State']

    for state in state_list:
        a.append( [treename,state] )


named_df = pd.DataFrame(
    data = a,
    columns= ['CommonName','State']
)

named_df

               CommonName State
0      Pacific silver fir    AK
1      Pacific silver fir    OR
2      Pacific silver fir   WA,
3              Balsam fir    CT
4              Balsam fir    IA
...                   ...   ...
10171          cereal rye    VA
10172          cereal rye    VT
10173          cereal rye    WA
10174          cereal rye    WI
10175          cereal rye   WY,

[10176 rows x 2 columns]

In [16]:
named_df["State"] = named_df["State"].str.replace(',','')
named_df

               CommonName State
0      Pacific silver fir    AK
1      Pacific silver fir    OR
2      Pacific silver fir    WA
3              Balsam fir    CT
4              Balsam fir    IA
...                   ...   ...
10171          cereal rye    VA
10172          cereal rye    VT
10173          cereal rye    WA
10174          cereal rye    WI
10175          cereal rye    WY

[10176 rows x 2 columns]

In [17]:
state_abbr_codes = {
    'WA': '53', 'DE': '10', 'DC': '11', 'WI': '55', 'WV': '54', 'HI': '15',
    'FL': '12', 'WY': '56', 'PR': '72', 'NJ': '34', 'NM': '35', 'TX': '48',
    'LA': '22', 'NC': '37', 'ND': '38', 'NE': '31', 'TN': '47', 'NY': '36',
    'PA': '42', 'AK': '02', 'NV': '32', 'NH': '33', 'VA': '51', 'CO': '08',
    'CA': '06', 'AL': '01', 'AR': '05', 'VT': '50', 'IL': '17', 'GA': '13',
    'IN': '18', 'IA': '19', 'MA': '25', 'AZ': '04', 'ID': '16', 'CT': '09',
    'ME': '23', 'MD': '24', 'OK': '40', 'OH': '39', 'UT': '49', 'MO': '29',
    'MN': '27', 'MI': '26', 'RI': '44', 'KS': '20', 'MT': '30', 'MS': '28',
    'SC': '45', 'KY': '21', 'OR': '41', 'SD': '46'
}

named_df.insert(2,"statecode", named_df["State"].map(state_abbr_codes))

In [18]:
named_df

               CommonName State statecode
0      Pacific silver fir    AK        02
1      Pacific silver fir    OR        41
2      Pacific silver fir    WA        53
3              Balsam fir    CT        09
4              Balsam fir    IA        19
...                   ...   ...       ...
10171          cereal rye    VA        51
10172          cereal rye    VT        50
10173          cereal rye    WA        53
10174          cereal rye    WI        55
10175          cereal rye    WY        56

[10176 rows x 3 columns]

In [25]:
named_df[named_df['statecode'].isnull()]

                  CommonName State statecode
829            Spanish cedar    VI       NaN
1496       American muskwood    VI       NaN
1625          sacky sac bean    VI       NaN
2265      loblolly sweetwood    VI       NaN
5266              broomstick    VI       NaN
5889             palo amargo    VI       NaN
6102           giant wildrye    AB       NaN
6103           giant wildrye    BC       NaN
6526                slugwood    VI       NaN
6989                  fustic    VI       NaN
7150           yellow mombin    VI       NaN
7360            cobana negra    VI       NaN
7362           laurel espada    VI       NaN
7531             stinkingtoe    VI       NaN
7606  Puerto Rico royal palm    VI       NaN
7802         bastard redwood    VI       NaN
8049                 soursop    VI       NaN
8051           custard apple    VI       NaN
8394    Puerto Rico palmetto    VI       NaN
9301              bulletwood    VI       NaN
9353               matchwood    VI       NaN
9459              breadfruit    VI       NaN

In [26]:
named_df = named_df.dropna(subset='statecode')

In [27]:
named_df

               CommonName State statecode
0      Pacific silver fir    AK        02
1      Pacific silver fir    OR        41
2      Pacific silver fir    WA        53
3              Balsam fir    CT        09
4              Balsam fir    IA        19
...                   ...   ...       ...
10171          cereal rye    VA        51
10172          cereal rye    VT        50
10173          cereal rye    WA        53
10174          cereal rye    WI        55
10175          cereal rye    WY        56

[10154 rows x 3 columns]